<style>
		/* Banner new css
============================================================================================ */
.banner_new_area {
  background:linear-gradient(rgba(52,152,219, 0.85),rgba(52,152,219, 0.85)) , url(img/streethackbg.jpg) no-repeat scroll center ;
  background-size: cover;
 
  
}
.banner_new_layer {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #3498db;
  opacity: 0.95;
}
.banner_new_area .b_new_text {
  padding-top: 130px;
}

.banner_new_area .b_new_text h3 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
}

.banner_new_area .b_new_text h3 span {
  color: #000;
}

.banner_new_area .b_new_text h5 {
  font-family: "Heebo", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 45px 0px 80px 0px;
}

.banner_new_area .b_new_image {
  text-align: center;
}

.banner_new_area .b_new_image img {
  max-width: 100%;
}
.ctimer {
  display: inline-block;
  font-size: 2rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4rem;
}


/* End Banner new css
============================================================================================ */
		</style>
		<script>
const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('Jan 27, 2019 09:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      
      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)


		
		</script>
 <!--================Banner new Area =================-->
        <section class="banner_new_area " id="home2" >
        	<div class="container" >
        		<div class="row">
        			<div class="col-md-7">
        				<div class="b_new_text">
        					<!--<h3>Discover your <br /> True <span> PASSION </span> </h3>-->
							<h3><span> BlockHack </span> </h3>
        					<h5>Global Entrepreneurship Summit, E-CELL IIT KGP</h5>
        					<a class="border_btn"  href="https://kgp.streethack.org/login"></i><strong>Register For Challenge :Here</strong>
  <!--<ul>
    <li class="ctimer"><span  id="days" ></span>days</li>
    <li class="ctimer"><span id="hours"></span>Hours</li>
    <li class="ctimer"><span id="minutes"></span>Minutes</li>
    <li class="ctimer"><span id="seconds"></span>Seconds</li>
  </ul>--></a>
        				</div>
        			</div>
        			<div class="col-md-5">
        				<div class="b_new_image">
        					<img src="/assets/img/banner/banner-n-mobile1.png" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        
<section class="question_area" id="challenges">
            <div class="container">
                <div class="main_title">
                    <h2>CHALLENGES</h2>
                    <p>We are proud to announce BlockHack @ <a href="https://reg-ges.ecell-iitkgp.org/register/" target="_blank">Global Entreprenurship Summit</a>, with <a href="https://ecell-iitkgp.org/" target="_blank">E-Cell, IIT-KGP</a> driven by the Initiative of U-Hack, StreetHack. It will take place at Kharagpur on February 1st, 2019. It’s time to get your team together and apply! Stay tuned for more updates on the challenges, prizes and resources.<br>
                    <!--The Hackathon runs under the <a href="streethackrules.html">main rules of StreetHack.</a></p--></p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="left_question_inner">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                
								
								<div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading0">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
                                            HyperLedger - Blockchain Awareness Platform
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                        <div class="panel-body">
                                        Design an ed-tech informatic & interactive platform, which targets the new-comers in blockchain domain and handholds them, with various opportunity to contribute and work in this vertical.

                                        This Challenge is backed by <a href="https://www.meetup.com/Hyperledger-Bangalore/" target="_blank"> Hyperledger Bangalore Community</a>.

                                        For now, You can focus more on hyperledger vertical.
<br>
You can get inspiration from - <br> <a href=" https://whatcanidoformozilla.org/" target="_blank"> What Can I Do For Mozilla</a> <br> 
<br>
    Prize - 

    Special Hyperledger Goodie is up for this challenge. 

    This will be a prime portal for hyperledger bangalore community, to spread awareness about different avenues of opportunities available in Blockchain vertical & Hyperledger Community.
</br>
                                        <br>
                                
                                        
                                        </div>
                                    </div>
                                </div>


								
								 <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Savengy Ideathon
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                        <div><span><h3>Challenge</h3>
<p>Design a mechanism that nullifies the problem of interference when Distribution and telecommunation lines are installed in a single pole.</p>
<br>
<h3>Expected Solution :</h3>
<p>Ensure the designed mechanism limits the effect of Harmonic attenuation and noise to a tolerable level</p>
<br>
<h3>Constraints</h3>
<p>No constraints.</p>
<!--<h3>About the company / Background</h3>
<p>The European Space Agency's (ESA) Business Incubation Centre in Finland was founded in 2017 to support aspiring innovative entrepreneurs and young ambitious start-ups financially and technically to reveal their full space potential.  We help you to introduce new technologies to the ESA and its partner network or to transfer existing ESA space technologies from hardware to data such as satellite data to terrestrial uses. Read more: www.esabic.fi</p>
<h3>Resources</h3>
<p>API-listing TBA soon!</p>
<h3>Judges</h3>
<p>To be announced at the event.</p>
<h3>Mentors</h3>
<p>To be announced at the event.</p>
<h3>Prizes</h3>
<p>Winning teams will get priority in line when selecting teams to the Ultrahack 2018 Sprint 1 finals in Finland</p>-->
</span><hr></div>
                                        </div>
                                    </div>
                                </div>
								
								
								
								
								
								
								<div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Voice to Text for Localised Languages
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                        Devise a solution that takes the voice from the microphone of mobile/tablet device and converts it into the text of multiple languages in the real time. The microphone should be running in the background and the text should be displayed in real time.
<br>
References -<br> <a href="https://cloud.google.com/speech-to-text/docs/languages" target="_blank">Google Document Link </a> <br> <a href="https://github.com/kaldi-asr/kaldi" target="_blank"> Github Repo Link of Kaldi</a> <br> <a href="https://developers.googleblog.com/2017/08/kaldi-now-offers-tensorflow-integration.html" target="_blank">Google Developer Blog</a>
                                        <br>
                                
                                        
                                        </div>
                                    </div>
                                </div>
								
							
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Voice-Based Mood Discovery

                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div><span><h3>Challenge</h3>
<p>Devise a solution that takes voice input from the microphone of mobile/tablet device and predicts mood in the real time.
<br>
Moods: Anger, Sadness, Happiness, Disgust, Fear, Pleasent surprise, neutral etc.
<br>
An input can have multiple outputs. for eg. I can feel emotions like "disgust and anger" at the same time.
<br>
Input: Voice file (real time) Output: Emotions + rating out of 5
<br><br>
References / Dataset :
<br>
https://www.kaggle.com/general/23547
<br>
You are free to use any open source or google audio dataset.
</p>



</span><hr></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingfour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                            Data Sanitization Tool
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                        <div class="panel-body">
                                            <div><span><h3>Challenge</h3>
<p>With Enterprises collecting all kinds of data from their channels, it's a tough task to maintain the data sanitized.
The task is to create a data sanitization tool, where only task asking for human intervention must be uploading of file on server. 
</p>
<h3>Solution domains we appreciate</h3>
<ul>
<li>TBA</li>

</ul>
<br>
<h3>Constraints</h3>
<p>No constraints</p>

<br>
<h3>Resources</h3>
<p>TBA on January 28th, 2019. You can look for open source data set as well.</p>
<br>
<h3>Judges</h3>
<p>To be announced at the event.</p>
<br>
<h3>Mentors</h3>
<p>To be announced at the event.</p>


</span><hr></div>
                                        </div>
                                    </div>
                                </div>
								
								
								 <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Gaming Theme 
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="panel-body">
                                        <div><span><h3>Challenge</h3>
<p>
    
    Challenge is to design and develop a game, with Peer 2 Peer Engagement as center idea of the game.

    <br>

    It can be around educational, marketing, enterprise vertical.

</p>
<!--<h3>About the company / Background</h3>
<p>The European Space Agency's (ESA) Business Incubation Centre in Finland was founded in 2017 to support aspiring innovative entrepreneurs and young ambitious start-ups financially and technically to reveal their full space potential.  We help you to introduce new technologies to the ESA and its partner network or to transfer existing ESA space technologies from hardware to data such as satellite data to terrestrial uses. Read more: www.esabic.fi</p>
<h3>Resources</h3>
<p>API-listing TBA soon!</p>
<h3>Judges</h3>
<p>To be announced at the event.</p>
<h3>Mentors</h3>
<p>To be announced at the event.</p>
<h3>Prizes</h3>
<p>Winning teams will get priority in line when selecting teams to the Ultrahack 2018 Sprint 1 finals in Finland</p>-->
</span><hr></div>
                                        </div>
                                    </div>
                                </div>
								
								
								
								
								 <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSeven">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                           Open 
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                        <div class="panel-body">
                                        <div><span><h3>Challenge</h3>
<p>A opportunity to work on ideas  that matter to you. Could range from a application to a IOT solution , a bot or a blockchain solution. </p>
<h3>Expected Solution :</h3>
<p>A working prototype .</p>
<h3>Constraints</h3>
<p>No constraints.</p>
<!--<h3>About the company / Background</h3>
<p>The European Space Agency's (ESA) Business Incubation Centre in Finland was founded in 2017 to support aspiring innovative entrepreneurs and young ambitious start-ups financially and technically to reveal their full space potential.  We help you to introduce new technologies to the ESA and its partner network or to transfer existing ESA space technologies from hardware to data such as satellite data to terrestrial uses. Read more: www.esabic.fi</p>
<h3>Resources</h3>
<p>API-listing TBA soon!</p>
<h3>Judges</h3>
<p>To be announced at the event.</p>
<h3>Mentors</h3>
<p>To be announced at the event.</p>
<h3>Prizes</h3>
<p>Winning teams will get priority in line when selecting teams to the Ultrahack 2018 Sprint 1 finals in Finland</p>-->
</span><hr></div>
                                        </div>
                                    </div>
                                </div>
								
								
								
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--================End Question Area =================-->
        
        

         <!--==================== h_work_area ====================-->
            <section class="h_work_area" id="timeline">
                <div class="container">
                    <div class="main_title">
                        <h2><span>TIMELINE</span></h2>
                        <p></p>
                    </div>
                    <div class="row h_work_inner">
                        <div class="col-sm-3 col-xs-6">
                            <div class="h_work_item">
                                <div class="h-round">
                                    <i class="icofont icofont-chart-line"></i>
                                </div>
                                <h3 class="h-title">Registration Starts</h3>
                                <p class="text-p">January 27th, 2019</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="h_work_item">
                                <div class="h-round">
                                    <i class="icofont icofont-chart-line"></i>
                                </div>
                                <h3 class="h-title">Registration Ends</h3>
                                <p class="text-p">January 31st, 2019</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="h_work_item">
                                <div class="h-round">
                                    <i class="icofont icofont-chart-line"></i>
                                </div>
                                <h3 class="h-title">Hackathon Starts</h3>
                                <p class="text-p">February 1st, 2019 ,10:00 pm </p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="h_work_item">
                                <div class="h-round">
                                    <i class="icofont icofont-chart-line"></i>
                                </div>
                                <h3 class="h-title">Results</h3>
                                <p class="text-p">February 2nd, 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== h_work_area ====================-->
  <!--================Start Screenshot Area =================-->
       <section class="screenshot_area_two" id="screenshot">
            <div class="screenshot_left">
                <div class="screenshot_tab">
                    <div class="left_title">
                        <h2>PRIZES</h2>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">First Prize</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Second Prize </a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Third Prize</a></li>
                       <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">More</a></li>
                    </ul>

                    
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                           <center> 
							<img src="/assets/img/prize1.png" alt="" style="max-width:400px;">
							<h2>Trip to Singapore </h2>
                          </center>
						  </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                             <center> 
							<img src="/assets/img/prize3.png" alt="" style="max-width:400px;">
							<h2>A week stay at Manali </h2>
                          </center>
							 
							 </div>
							 
							 <div role="tabpanel" class="tab-pane" id="messages">
                             <center> 
							<img src="/assets/img/prize3.png" alt="" style="max-width:400px;">
							<h2>3D/2N stay at Manali </h2>
                          </center>
							 
							 </div>
                        
						<div role="tabpanel" class="tab-pane" id="settings">
							<center> 
							<img src="/assets/img/codestreet.png" alt="" style="max-width:400px;">
							<h2>Intership with <a href="https://www.codestreet.io/">Codestreet  </a></h2>
                          </center>
							</div>
                       <!-- <div role="tabpanel" class="tab-pane" id="settings">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
                            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="screenshot_right">
			 <img src="/assets/img/podium1.png" alt="">
                <!--<div class="screenshot_carousel owl-carousel">
                    <div class="item">
                        <img src="img/screenshot/screenshot-4.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="img/screenshot/screenshot-4.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="img/screenshot/screenshot-4.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="img/screenshot/screenshot-4.jpg" alt="">
                    </div>
                </div>-->
            </div>
        </section>
        <!--================End Screenshot Area =================-->
         <!--================Question Area =================-->
        <section class="question_area" id="faqs">
            <div class="container">
                <div class="main_title">
                    <h2>FREQUENTLY ASKED QUESTION</h2>
                    <p>Should you have any other query, ping us at info@streethack.org</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="left_question_inner">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-heading" role="tab" id="headingOneOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                                            1. Is this StreetHack event free of charge?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneOne">
                                        <div class="panel-body">
                                        YES. TOTALLY. With specific conditions (described in this FAQ), we offer you free accommodation, free snacks, free drinks.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwoTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                                            2. How can I submit my project to be considered for StreetHack ?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwoTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoTwo">
                                        <div class="panel-body">
                                         Register / Sign in at <a href="https://streethack.org/blockhack.html">https://streethack.org/blockhack.html</a>, apply to BlockHack hackathon and submit your project with as much detail as you can. It’s that simple!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThreeThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeThree" aria-expanded="false" aria-controls="collapseThreeThree">
                                            3. How/when can I be eligible for the prizes ?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThreeThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeThree">
                                        <div class="panel-body">
                                       
                                        Submit your project plan to BlockHack hackathon page. Join us at the event. Showcase your skills and project to convince the judges your solution is the best!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFourFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourFour" aria-expanded="false" aria-controls="collapseFourFour">
                                            4.  Do I have to stay at the 12H hack venue for the whole duration?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFourFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourFour">
                                        <div class="panel-body">
                                        No. This is an Online as well as On-site Event, But who would want to miss the spirit of the whole event and Global Entrepreneurship Summit? So be there, it will be AMAZING.

                                        BlockHack hackathon will be held at GES, IIT - KGP.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="left_question_inner">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-heading" role="tab" id="heading55">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse55" aria-expanded="false" aria-controls="collapse55">
                                            5.  How can I get a travel grant?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse55" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading55">
                                        <div class="panel-body">
                                        Sorry, For BlockHack, we couldn’t arrange for travel grants this time.
                                        But we have prizes to feed your craving for travel. Take the Plunge.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading66">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse66" aria-expanded="false" aria-controls="collapse66">
                                            6. Can I participate if I cannot write code?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse66" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading66">
                                        <div class="panel-body">
                                        Yes you can! But we definitely recommend you to team up with some people with coding skills. You can search for them at <a href="https://www.facebook.com/groups/1633702170070588" target="_blank">our StreetHack Hackathon Community</a> and ask them to join your team.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading77">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse77" aria-expanded="false" aria-controls="collapse77">
                                            7. Can I participate without a team or with a virtual team?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse77" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading77">
                                        <div class="panel-body">
                                        YES. We accept talented individuals to hack. We also accept individuals who have virtual team to back them up. Although we appreciate highly matchmaking before and at the venue.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading88">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse88" aria-expanded="false" aria-controls="collapse88">
                                            8. How can I register my team?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse88" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading88">
                                        <div class="panel-body">
                                        Each team member should apply at https://streethack.org/blockhack.html . When you submit your Project on Github, just tag your team members to the project so we know who are involved in which project. Keep the project information up-to-date.

                                        We accept the projects through github/gitlab only.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="left_question_inner">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-heading" role="tab" id="heading9">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            9. Is there limit to number of team members?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                        <div class="panel-body">
                                        YES. 4.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading10">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            10. What kind of accommodation is available?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                        <div class="panel-body">
                                         Since this is 12 hr stint, who will sleep and lose out the chance of winning awesome prizes and interacting such a vibrant community. 
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading11">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                            11. Any refreshments?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                        <div class="panel-body">
                                       
                                         Coffee, tea and some light refreshments will be available.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading12">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                            12. What about the food allergies or specific travel or sleeping arrangements?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                        <div class="panel-body">
                                        Kharagpur campus is big enough to accomodate all special changes, even though, we recommend you to connect with GES Team.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="left_question_inner">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-heading" role="tab" id="heading13">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                            13.  What should I bring with me?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                        <div class="panel-body">
                                        Bring your own laptop and other devices such as your phone, tablet, charger, adapters etc. If possible come-up with an internet device for your team, which can be used in emergency by you, as our servers will be handling large amount of traffic. Bring also your personal items and whatever you think you would need during your weekend.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading14">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                            14. How can I protect my idea, when everyone can see my project plan?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                        <div class="panel-body">
                                        Of course there are limitations how to protect your idea when all ideas are visible. It is all about how you can manage to execute your idea. And remember - source code is not visible to all! Source code can be shown only to the judge. All IPR retains with you, and doesn’t transfer in this competition. However, challenge owners have the first buyer right for 3 months after the 12H event is finished.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading15">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                            15.  Question about our IPR. Are we losing or is our employer company in risk of losing IPR or patents if we participate to StreetHack hackathon? What does the term “Right of First of Refusal” mean?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                        <div class="panel-body">
                                        The ROFR only concerns the IPR created by the teams, not IPR owned or created by partners, organizers, etc. The team owns all IPR they have created, but if they want to sell this IPR to a third party, the track’s main partner may have the right to buy the IPR instead (becoming the buyer in the third party’s place). Generally, if a partner brings their own IPR to contestants, they are encouraged to do a separate agreement on use license of that particular IPR for the duration of the hackathon contest.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading16">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                            16. Can I start working on idea before ?
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                                        <div class="panel-body">
                                        Yes. We believe in functional working solutions, and We also believe in True spirit of hackathon. So, You will be judged on the work done in 12 hour at hackathon. But, we encourage to prepare yourself before hackathon.

                                        We also encourage start-ups working in similar domain and professional to come up with solutions.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!--================End Question Area =================-->
        
        
        <!--================End testimonial Area =================-->
      <!--  <section class="testimonial_area_two bg-color">
            <div class="container-fluid">
                <div class="video_inner">
                    <img src="img/video-img2.png" alt="">
                    <div class="video_text">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=WVPRkcczXCY"><i class="icofont icofont-play-alt-2"></i></a>
                        <h5>Play Video</h5>
                    </div>
                </div>
                <div class="testimonial-carousel owl-carousel">
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jonathon Smith</h4>
                            <h6>CEO, Hazrat Group</h6>
                            <div class="img">
                                <img class="img-circle" src="img/user/testimonial.png" alt="user">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!--================End testimonial Area =================-->
        
      
        
        <!--Start pricing-area-two-->
       <!-- <section class="row m0 pricing-area-two bg-color" id="price">
            <div class="container">
                <div class="main_title">
                    <h2>PRICING PLAN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">  
                        <div class="pricing-item">
                            <h2>BASIC</h2>
                            <h3>$20 / <sub>month</sub></h3>
                            <ul class="list">
                                <li><i class="icofont icofont-check-circled"></i>Free Useable</li>
                                <li><i class="icofont icofont-check-circled"></i>Easily Can Useable 10GB </li>
                                <li><i class="icofont icofont-check-circled"></i>Free Secuirity Service</li>
                                <li><i class="icofont icofont-check-circled"></i>Dedicated Useable Acc.</li>
                            </ul>
                            <a href="#" class="btn theme_btn">Purchase Now</a>
                        </div>  
                    </div>
                    <div class="col-md-3 col-xs-6">  
                        <div class="pricing-item">
                            <h2>BASIC</h2>
                            <h3>$20 / <sub>month</sub></h3>
                            <ul class="list">
                                <li><i class="icofont icofont-check-circled"></i>Free Useable</li>
                                <li><i class="icofont icofont-check-circled"></i>Easily Can Useable 10GB </li>
                                <li><i class="icofont icofont-check-circled"></i>Free Secuirity Service</li>
                                <li><i class="icofont icofont-check-circled"></i>Dedicated Useable Acc.</li>
                            </ul>
                            <a href="#" class="btn theme_btn">Purchase Now</a>
                        </div>  
                    </div>
                    <div class="col-md-3 col-xs-6">  
                        <div class="pricing-item">
                            <h2>BASIC</h2>
                            <h3>$20 / <sub>month</sub></h3>
                            <ul class="list">
                                <li><i class="icofont icofont-check-circled"></i>Free Useable</li>
                                <li><i class="icofont icofont-check-circled"></i>Easily Can Useable 10GB </li>
                                <li><i class="icofont icofont-check-circled"></i>Free Secuirity Service</li>
                                <li><i class="icofont icofont-check-circled"></i>Dedicated Useable Acc.</li>
                            </ul>
                            <a href="#" class="btn theme_btn">Purchase Now</a>
                        </div>  
                    </div>
                    <div class="col-md-3 col-xs-6">  
                        <div class="pricing-item">
                            <h2>BASIC</h2>
                            <h3>$20 / <sub>month</sub></h3>
                            <ul class="list">
                                <li><i class="icofont icofont-check-circled"></i>Free Useable</li>
                                <li><i class="icofont icofont-check-circled"></i>Easily Can Useable 10GB </li>
                                <li><i class="icofont icofont-check-circled"></i>Free Secuirity Service</li>
                                <li><i class="icofont icofont-check-circled"></i>Dedicated Useable Acc.</li>
                            </ul>
                            <a href="#" class="btn theme_btn">Purchase Now</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>-->
        <!--End pricing-area-two-->
      
        <!--================Team Members Area =================-->
<!--        <section class="team_members_area bg-color" id="team">
            <div class="container">
                <div class="main_title">
                    <h2>TEAM MEMBER</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                </div>
                <div class="team_slider_two owl-carousel">
                    <div class="item">
                        <div class="team_slider_item">
                            <img src="img/team-slider/team-1.jpg" alt="">
                            <div class="team_hover">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="team_inner_text">
                                    <h4>ROBERTO PE</h4>
                                    <h5>Developer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team_slider_item">
                            <img src="img/team-slider/team-2.jpg" alt="">
                            <div class="team_hover">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="team_inner_text">
                                    <h4>ROBERTO PE</h4>
                                    <h5>Developer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team_slider_item">
                            <img src="img/team-slider/team-3.jpg" alt="">
                            <div class="team_hover">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="team_inner_text">
                                    <h4>ROBERTO PE</h4>
                                    <h5>Developer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team_slider_item">
                            <img src="img/team-slider/team-4.jpg" alt="">
                            <div class="team_hover">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="team_inner_text">
                                    <h4>ROBERTO PE</h4>
                                    <h5>Developer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!--================End Team Members Area =================-->
        <!--================Start Download Area =================-->
        <!--<section class="download_area">
            <div class="container">
                <div class="main_title color_white">
                    <h2>DOWNLOAD NOW</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                </div>
                <a class="solid_btn" href="#"><i class="fa fa-apple" aria-hidden="true"></i>App Store</a>
                <a class="solid_btn" href="#"><i class="fa fa-android" aria-hidden="true"></i>Android </a>
                <a class="solid_btn" href="#"><i class="fa fa-apple" aria-hidden="true"></i>App Store</a>
            </div>
        </section>-->
        <!--================End Download Area =================-->
        
        <section class="subcribe_area_two" id="contact">
            <div class="container text-center">
			<h2>Connect with us</h2>
             <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=wLYam1&utm_source=typeform.com-13240770-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
            </div>
        </section>
        