           <!--================Banner new Area =================-->
        <section class="banner_new_area " id="home2" >
        	<div class="container" >
        		<div class="row">
        			<div class="col-md-7">
        				<div class="b_new_text">
                            <h5></h5>
        					<h3>Attracting Talent<span></span></h3><br>
        					<a class="border_btn" href="#">Data-Driven Hiring Decision. Team Fit. Project Fit.</a>
        				</div>
        			</div>
        			<div class="col-md-5">
        				<div class="b_new_image">
        					<img src="/assets/img/banner/banner-n-mobile1.png" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
     

		<section class="satisfaction_area" id="about">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-6 chose_content">
                        <div class="left_title">
                            <h2> Hire Interns </h2>
                        </div>
                        <p>We help you hire intern easily. No need filter out of 100s of resume.
                        <br>
                        Get Best profile for you, sorted already and always for you.
                    </p>
                        <p>Do you wanna hire an intern who can explore themselves?</p>
                        <!-- <a href="#" class="btn theme_btn">Learn More</a>-->
                    </div>
					 <div class="col-md-6 chose_content">
                        <div class="left_title">
                            <h2> Hire Experience </h2>
                        </div>
                        <p>We help you hire the best fit who can complete your project in most professional manner. The Experienced One.
                        <br>
                       
                    </p>
                        <p>Do you wanna hire a talent who have synergy with the current team?</p>
                        <!-- <a href="#" class="btn theme_btn">Learn More</a>-->
                    </div>
                </div>

            </div>
        </section>

        <!--Start chose us area-->
		
        <section class="satisfaction_area" >
            <div class="container">
                <div class="main_title">
                    <h2>Filters That Matters</h2>
                    <p></p>
                </div>
                <div class="row satisfaction_item_inner">
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Team Fit</h4></a>
                            <p>
                            <ul>
                    
                            <!--li>Project Development</li>
                            <li>Foster Innovations</li>
                            <li>Fortnightly Events</li>
                            <li>Earn Karma Points</li>
                            <li>Learn New skills</li>
                            <li>Team Bonding</li-->


                            </ul></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Project Fit</h4></a>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Culture Fit</h4></a>
                            
                        </div>
                    </div>
                    
                </div>
                
                </div>
                <hr>
            </div>
        </section>

        <section class="satisfaction_area" >
            <div class="container">
                <div class="main_title">
                    <h2>The Domains, We Serve</h2>
                    <p></p>
                </div>
                <div class="row satisfaction_item_inner">
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Automotive and Embedded</h4></a>
                            <p>
                            <ul>
                    
                            <!--li>Project Development</li>
                            <li>Foster Innovations</li>
                            <li>Fortnightly Events</li>
                            <li>Earn Karma Points</li>
                            <li>Learn New skills</li>
                            <li>Team Bonding</li-->


                            </ul></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Data Science</h4></a>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Artificial Intelligence</h4></a>
                            
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row satisfaction_item_inner">
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>BlockChain</h4></a>
                            <p>
                            <ul>
                    
                            <!--li>Project Development</li>
                            <li>Foster Innovations</li>
                            <li>Fortnightly Events</li>
                            <li>Earn Karma Points</li>
                            <li>Learn New skills</li>
                            <li>Team Bonding</li-->


                            </ul></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>IT & ITeS</h4></a>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>More</h4></a>
                            
                        </div>
                    </div>
                </div>
                    
                    
                    
               
                <p style="text-align: center;">If Your Requirement is not listed above, Connect us at +91-9871381106.</p>
                
                </div>
                <hr>
            </div>
        </section>

		 <!--================Satisfaction Area =================-->
        <section class="satisfaction_area" >
            <div class="container">
                <div class="main_title">
                    <h2>Ways To Hire</h2>
                    <p>We aim for good hiring. All our approach are focussed on enterprise current project requirement. </p>
                </div>
                <div class="row satisfaction_item_inner">
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Host Online Hiring Hackathon </h4></a>
                            <p>
							<ul>
                    
							<!--li>Project Development</li>
							<li>Foster Innovations</li>
                            <li>Fortnightly Events</li>
                            <li>Earn Karma Points</li>
							<li>Learn New skills</li>
                            <li>Team Bonding</li-->


							</ul></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Host 2-Phase Hiring Hackathon</h4></a>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Filter Talent on Karma Points</h4></a>
                            
                        </div>
                    </div>
                    
                </div>
                
                </div>
                <hr>
            </div>
        </section>

        <section>
            <br>
        <div class="subscrib_area">
                <div class="container">
                    <div class="subscrib_inner">
                        <div class="main_title">
                            <h2>Want To Hire The STREETHACK Way!</h2>
                            <p>Call us or Whatsapp at +91-9871381106<br><br>

                            <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> </div>

                        </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
		

         <!--================Satisfaction Area =================-->
        <section id="ourproducts" class="satisfaction_area" >
            <div class="container">
                <div class="main_title">
                    <h2>Xploryo</h2>
                    <p>An End To End Event-Tech Products Bucket.</br>Create. Host. Engage. Enjoy.</p>
                    <h5>Launching on July 31, 2019</h5>
                </div>
                <div class="row satisfaction_item_inner">
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Online Presence In A Day</h4></a>
                            <p>
                            <ul>
                    
                            <li>Native Web App</li>
                            <li>Native Android App</li>
                            <li>Native iOS Applicaiton</li>
                            <li>Just a Click Away</li>
                            <li>24*7 Customer Support</li>

                            </ul></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>Ice Breaker </h4>
                                 <p>
                            <ul>
                            <li>Reciprocity Ring</li>
                            <li>Available on Android/iOS</li>
                            <li>Community Engagement Activity</li>
                            <li>Host Your Own Community</li>
                            <li>Used in Meetup / Conference / Hackathon</li>
                            <li>Psychological Proven</li>
                            

                            </ul></p>
                                
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="satisfaction_item">
                            <div class="icon-round">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                            </div>
                            <!--<a href="#">--><h4>
                           Finder</h4>
                            <p>Swipe and Find Your Professional Connect</p>
                            <p><ul>
                    
                            <li>Available on Android / iOS</li>
                            <li>Community Engagement Activity</li>
                            <li>Host Your Own Community</li>
                            <li>Used in Meetup / Conference / Hackathon</li>
                            <li>Psychological Proven</li>
                            

                            </ul></p>
                                

                        </div>
                    </div>
                    
                </div>
                
                <br>

                
                <hr>
            </div>
        </section>

		
		 
        <section>
            <br>
        <div class="subscrib_area">
                <div class="container">
                    <div class="subscrib_inner">
                        <div class="main_title">
                            <h2>Want To Host Event SH Way!</h2>
                            <p>We are Launching on July 31, 2019. Stay Connected!<br>

                            Connect us for Pricing at +91-9999386541 ; marketing@xploryo.com 

                        </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        

        <!--================Satisfaction Area =================-->
        <section id="hackathons" class="satisfaction_area" >
            <div class="container">
                <div class="main_title">
                    <h2>Hackathons</h2>
                    <p>Want to Host an Engaging, Unique and Successful Hackathon ?</p>
                    <br>
                    <p>Want to Host and Find Dynamic Minds From Different Parts of India ?</p><br>
                    
                    <p>Want to Chose the Best Solution Out Of 10s of Innovative One?</p>
                    <br>
                    <p>Want to Create a community of talent pool, loyal developers?</p>
                    <br>
                    <h5>Connect us at rajiv@xploryo.com / info@streethack.org / +91-9871381106</h5>
                    <p>
                        For more information, visit <a href="/hackathon" target="_blank">Hackathon</a> Page.
                    </p>
                </div>
                
                
                <br>

                
                <hr>
            </div>
        </section>

        <section class="subcribe_area_two" id="contact">
            <div class="container">
			<center><h2>Connect with us</h2></center>
             <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=wLYam1&utm_source=typeform.com-13240770-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
            </div>
        </section>