<!--Start chose us area-->
<!--   <section class="chose_us_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="img/screenshot/mochup1.png" alt="">
                    </div>
                    <div class="col-md-6 chose_content">
                        <div class="left_title">
                            <h2>Innovate with us || Hackathons</h2>
                        </div>
                        <p>Knock down the challenges of your workplace. Search for simple, classy, or wild ideas together, try them out with a prototype.</p>
                        <p>All in one Night! Sounds Fascinating? </p>
						
                       
                    </div>
                </div>
            </div>-->
<section class="app_feature_area" id="feature">
    <div class="container">
        <div class="main_title">
            <h2>OUR HACKATHONS</h2>
            <p>StreetHack Hackathon is easily the biggest entry point for Developers, Designers, Techies, marketers &
                other Entrepreneurs to create a product or startup from a hack. </p>
        </div>
        <div class="row app_feature_inner">
            <div class="col-md-3">
                <div class="app_feature_item_inner">
                    <div class="app_feature_item">
                        <div class="round_icon">
                            <i class="fa fa-diamond"></i>
                        </div>
                        <a href="#">
                            <h4>StreetHack 1.0</h4>
                        </a>
                        <p>September 28-29, 2019 <br>
                            Bengaluru
                        </p>
                    </div>
                    <div class="app_feature_item">
                        <div class="round_icon">
                            <i class="fa fa-diamond"></i>
                        </div>
                        <a href="#">
                            <h4>StreetHack 2.0</h4>
                        </a>
                        <p>December 28 - 29, 2019<br>
                            Delhi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="app_round_image">
                    <img class="round_c" src="/assets/img/round-circle.png" alt="">
                    <img class="app_mobile" src="/assets/img/app-mobile.png" alt="">
                </div>
                <div class="app_feature_item app_middle">
                    <div class="round_icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <a href="#">
                        <h4>Custom Hackathon</h4>
                    </a>
                    <p>A hackathon that reflects you . <a href="#contact">Connect to know more .</a> </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="app_feature_item_inner left_feature">
                    <div class="app_feature_item">
                        <div class="round_icon">
                            <i class="fa fa-diamond"></i>
                        </div>
                        <a href="#">
                            <h4>StreetHack 3.0</h4>
                        </a>
                        <p>March, 2020 <br>
                            Pune</p>
                    </div>
                    <div class="app_feature_item">
                        <div class="round_icon">
                            <i class="fa fa-diamond"></i>
                        </div>
                        <a href="#">
                            <h4>StreetHack 4.0</h4>
                        </a>
                        <p>June, 2020<br>
                            Hyderabad
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>




<!--================Satisfaction Area =================-->
<section class="satisfaction_area" id="ourapproach">
    <div class="container">
        <div class="main_title">
            <h2>Our Approach</h2>
            <p>This is one of the pillars for engagement . A place where passion meets profession .Giving power to
                employees . </p>
        </div>
        <div class="row satisfaction_item_inner">
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>Business Analysis</h4></a>
                    <p>
                        <ul>

                            <li>Analyze Current Business Challenges</li>
                            <li>Formulate Problem Statement</li>
                            <li>Innovation in Business - Report</li>
                            <li>Participants Profiling</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>Resource Gathering</h4></a>
                    <p>
                        <ul>
                            <li>Simulative Resources</li>
                            <li>Resources Aligned to Challenge & Enterprise</li>
                            <li>Data, Blogs & Webinar</li>


                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>Ideation Phase</h4>
                    <p>
                        <ul>
                            <li>Hackathon Listed on Platform</li>
                            <li>Community Members Registration Starts </li>
                            <li>Crowdsource Ideas and Proposals</li>


                        </ul>
                    </p>
                </div>
            </div>

        </div>
        <br>
        <div class="row satisfaction_item_inner">
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>Pre-Hack Engagement</h4></a>
                    <p>
                        <ul>

                            <li>Pre-Hack Meets</li>
                            <li>Webinars & Podcast</li>
                            <li>Community Outreach</li>
                            <li>Blogs & Online Mentorship</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>In-Hack Engagement</h4></a>
                    <p>
                        <ul>
                            <li>Integrated Branding Engagement</li>
                            <li>Social Media Engagement</li>
                            <li>Live Mentorship for Hackers(1:1)</li>
                            <li>Immersive Games customised for Hackathons</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>Post-Hack Report</h4></a>
                    <p>
                        <ul>
                            <li>Innovation Report</li>
                            <li>Prototypes and Hacker Report</li>
                            <li>Add Hackers & Teams to Ecosystem <br>Around The Enterprise</li>

                        </ul>
                    </p>
                </div>
            </div>

        </div><br>
        <a class="border_btn" style="background:blue; margin-top:10px; margin-left: 40%;" href="#">Schedule a Demo </a>
        <hr>
    </div>
</section>
<section class="h_work_area">
    <div class="container">
        <div class="main_title">
            <h2>HOW IT WORKS FOR <span>YOU ?</span></h2>
            <p>These are the milestones for successfully deliverying on the hackathon</p>
        </div>
        <div class="row h_work_inner">
            <div class="col-sm-4 col-xs-6">
                <div class="h_work_item">
                    <div class="h-round">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h3 class="h-title">Connect & finalize</h3>
                    <p class="text-p">Connect with us. Let's Go through the Business Challenge Together and work-upon
                        Hackathon methodology, best and custom fit for your enterprise.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="h_work_item">
                    <div class="h-round">
                        <i class="icofont icofont-chart-line"></i>
                    </div>
                    <h3 class="h-title">Ideation & Pre-hack</h3>
                    <p class="text-p">We also help you in curating the tracks/ problem statements .The hackathon is
                        flagged off with regualr pre-hacks meetups , webinars done building up of the event </p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="h_work_item">
                    <div class="h-round">
                        <i class="fa fa-bullseye"></i>
                    </div>
                    <h3 class="h-title">Hackathon & after</h3>
                    <p class="text-p">We deliver on the promise of awesome hackathon while taking things forward even
                        after the hackathonn by creating opportunity of collaboartion between participant teams and
                        organization .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="satisfaction_area" id="innovations">
    <div class="container">
        <div class="main_title">
            <h2>Innovations @ Hackathons</h2>
            <p>As Ignited_Minds, StreetHack Innovated and helped ecosystem in giving life to Ideas solving Business
                Challenges. </p>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/assets/old/assets/img/airtel.png" alt="" style="max-width: 300px;margin: 50px;">
            </div>
            <div class="col-md-6 chose_content">
                <div class="left_title">
                    <h2>Airtel Suvidha</h2>
                </div>
                <ul>
                    <li>#Predictive analysis, #Recommendation engine</li><br>
                </ul>
                <p class="alias">Team Ignited_Minds presented a Recommendation Engine and Data analysis tool named
                    Suvidha at the Airtel Whack Hackathon.<br> It
                    studies user’s usage patterns and recommends optimal plans based on the pattern. <br>It also
                    provides Airtel an understanding about how a package is performing and how it can be improved.
                </p>
                <a class="btn-wire" href="https://slides.com/prabhanshugupta/deck#/" target="_blank">Check it out</a>
                <br>

                <!--<a href="#" class="btn theme_btn">Learn More</a>-->
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-6 chose_content">
                <div class="left_title">
                    <h2>EY Contract Analysis Tool</h2>
                </div>
                <ul>
                    <ul>
                        <li>#Automation, #Natural Language Processing</li><br>
                    </ul>
                    <p class="alias">We developed a contract reader tool bot at the EY Intelligent Automation Hackathon
                        that performs contract completeness check, extraction of relevant clauses, performs
                        applicability checks and subsequently shares the result report. </p>
                    <a class="btn-wire" href="https://slides.com/anuditverma/deck-3#/" target="_blank">Check it out</a>
                    <br>

                    <!--<a href="#" class="btn theme_btn">Learn More</a>-->
            </div>
            <div class="col-md-6 text-center">
                <img src="/assets/old/assets/img/ey.png" alt="" style="max-width: 300px; margin: 50px;">
            </div>
        </div>
    </div>
</section>


<section class="subcribe_area_two" id="contact">
    <div class="container">
        <center>
            <h2>Connect with us</h2>
        </center>
        <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1"
            style="width: 100%; height: 500px;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
                href="https://admin.typeform.com/signup?utm_campaign=wLYam1&utm_source=typeform.com-13240770-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
                style="color: #999" target="_blank">Typeform</a> </div>
    </div>
</section>
