<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Reset Password | StreetHack</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark sticky d-flex justify-content-between"
            data-spy="affix" data-offset-top="197">
            <a class="navbar-brand" href="#">
                Street<strong>Hack</strong>
            </a>
            <ul class="navbar-nav text-right mr-0">
                <li class="nav-item text-right">
                    <a class="nav-link" href="/profile/{{id}}">
                        Go Back to Profile
                    </a>
                </li>
        </nav>
        <div class="container-fluid mt-5" style="min-height: 100%;">
            <h1 class="text-center">Reset Password</h1>
            <hr />
            {{#if isVerified}}
                <div class="row" style="height: 100vh">
                    <div class="col-12">
                        <div id="resetForm" class="form-group py-2" style="width: 70vw; margin: auto;">
                            <label class="sr-only" for="password">
                                Enter a new password:
                            </label>
                            <input type="password" placeholder="Enter a new password" name="password"
                                class="form-control text-center my-2" id="password" />
                            <label for="password2" class="sr-only">Enter the password again:</label>
                            <input type="password" placeholder="Enter the password again" name="password2"
                                class="form-control text-center my-2" id="password2" />
                            <button type="submit" id="resetPasswordBtn" class="btn btn-dark btn-block">
                                Reset Password
                            </button>
                        </div>
                        <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
                        <script>
                            document.getElementById("resetPasswordBtn").addEventListener("click", () => {
                                if (document.getElementById("password").value === document.getElementById("password2").value) {
                                    axios({
                                        method: 'post',
                                        url: `https://streethack.ghosh.pro/api/users/update/{{ id }}`,
                                        data: { password: document.getElementById("password").value },
                                        headers: {
                                            "Authorization": `Bearer {{ token }}`
                                        }
                                    }).then((d) => {
                                        if (d.data) {
                                            const alert = document.createElement("div");
                                            alert.classList.add("btn");
                                            alert.classList.add("btn-success");
                                            alert.classList.add("btn-block");
                                            alert.classList.add("mb-4");
                                            alert.appendChild(document.createTextNode("Password Reset Successful"));
                                            setTimeout(() => alert.parentNode.removeChild(alert), 2000);
                                            resetForm.insertBefore(alert, resetForm.firstChild);
                                            window.location.href = "/login";
                                        }
                                    }).catch(err => {
                                        const alert = document.createElement("div");
                                        alert.classList.add("btn");
                                        alert.classList.add("btn-danger");
                                        alert.classList.add("btn-block");
                                        alert.classList.add("mb-4");
                                        alert.appendChild(document.createTextNode("Password Reset Failed"));
                                        alert.appendChild(document.createTextNode("Contact info@streethack.org"));
                                        setTimeout(() => alert.parentNode.removeChild(alert), 2000);
                                        resetForm.insertBefore(alert, resetForm.firstChild);
                                        console.log(err);
                                    });
                                }
                            });
                        </script>
                    </div>
                    <div class="col-12"></div>
                </div>
            {{/if}}
            {{#if passwordResetVerificationFailure}}
                <div class="row py-5">
                    <div class="col-12 text-center">
                        <h2 class="text-center text-danger">Reset Password Email<br />Verification Failed</h2>
                        <a href="/login" class="mt-5 btn btn-dark">Go to Login</a>
                    </div>
                </div>
            {{/if}}
            {{#if resetPassword}}
                {{#if resetSuccessful}}
                    <div class="row" style="height: 100vh">
                        <div class="col-12"></div>
                        <div class="col-12">
                            <p class="text-center text-success">Password Reset Successful</p>
                            <a href="/login" class="btn btn-dark">Go to Login</a>
                        </div>
                    </div>
                {{else}}
                    <div class="row" style="height: 100vh">
                        <div class="col-12"></div>
                        <div class="col-12">
                            <p class="text-center text-danger">Password Reset Failed</p>
                            <a href="/login" class="btn btn-dark">Go to Login</a>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </body>

</html>
