<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="/assets/img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>UHack - StreetHack University Hackathon</title>

        <!-- Icon css link -->
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/css/icofont.css" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="/assets/vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="/assets/vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="/assets/vendors/revolution/css/navigation.css" rel="stylesheet">
        <link href="/assets/vendors/animate-css/animate.css" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="/assets/vendors/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="/assets/vendors/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet">
        
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            @media (max-width: 1630px) {
                .navbar_logo {
                    margin: 10% 0 0 0;
                }
                .navbar-brand {
                    height: 60px !important;
                }
            }
            @media (max-width: 991px) {
                .navbar_logo {
                    margin: 0.85em 0 0 0; 
                }
            }
            .navbar_logo > .navbar-brand {
                color: white !important;
                transition: 1s;
            }
            .navbar_logo:hover > .navbar-brand {
                color: #ddd !important;
                transition: 1s;
            }
        </style>
    </head>
    <body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="90">
       
       
       <div id="preloader">
            <div id="preloader_spinner">
				<div class="pre_inner">
					<div class="dot dot-1"></div>
					<div class="dot dot-2"></div>
					<div class="dot dot-3"></div>
				</div>
            </div>
        </div>
       
        <!--================Header Area =================-->
        <header class="dash_tp_menu_area">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="index"><img src="/assets/img/logo-s.png" alt=""></a> -->
                    <div class="navbar_logo">
                            <a class="navbar-brand" href="/">
                                <h1>StreetHack</h1>
                            </a>
                    </div> 
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#about">About</a></li>

                        <li><a href="#feature">Why U-Hack</a></li>
                        <li><a href="#uhacks">Previous Uhacks</a></li>
                        <li><a href="#team">Upcoming Uhacks</a></li>
                        <li><a href="#team">FAQs</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="get_free_btn"><a href="#contact">Start Your U-Hack</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </header>
        <!--================End Header Area =================-->
        
        <!--================Slider Area =================-->
        <section class="main_slider_area">
            <div id="dash_slider" class="rev_slider" data-version="5.3.1.6" >
                <ul> 
                    <li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- LAYERS -->
                        <div class="slider_text_box">
                            <div class="tp-caption ds_first_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','15','10']" 
                            data-voffset="['-50','-100','-100','-100','-100']" 
                            data-fontsize="['60','60','60','50','30']"
                            data-lineheight="['85','85','85','60','40']"
                            data-width="['none','none','none','none']"
                            data-height="none"
                            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                            data-textAlign="['left','left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"> <br class="ds_br1" />Grow With StreetHack</div>
                            
                            <div class="tp-caption ds_secand_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','15','10']" 
                            data-voffset="['130','80','80','50','30']" 
                            data-fontsize="['16','16','16','16','14']"
                            data-lineheight="['28','28','28','28','28']"
                            data-width="['500','500','500','500','100%']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"> 
                        StreetHack becomes the companion in Your Hackathon Journey sharing all the hardships with you and commited to make Your U-Hack successful.
                        
                    </div>
                            
                            <div class="tp-caption video_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['-40','-40','-40','-20','-15']" 
                            data-voffset="['250','200','200','150','150']" 
                            data-fontsize="['16','16','16','16']"
                            data-lineheight="['28','28','28','28']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><img src="/assets/img/icon/play-video.png" alt=""> Think. Create. Deploy.</div>
                            
                            <div class="tp-caption right_img" 
                            data-x="['right','right','right','right']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['-500','0','0','0']" 
                            data-voffset="['100','40','40','0']" 
                            data-fontsize="['16','16','16','16']"
                            data-lineheight="['28','28','28','28']"
                            data-width="['none','400']"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><img src="/assets/img/home-slider/uhackred.png" alt=""></div>
                        </div>
                    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- LAYERS -->
                        <div class="slider_text_box">
                            <div class="tp-caption ds_first_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','15','10']" 
                            data-voffset="['-50','-100','-100','-100','-100']" 
                            data-fontsize="['60','60','60','50','30']"
                            data-lineheight="['85','85','85','60','40']"
                            data-width="['none','none','none','none']"
                            data-height="none"
                            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                            data-textAlign="['left','left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"> <br class="ds_br1" />Grow With StreetHack</div>
                            
                            <div class="tp-caption ds_secand_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['0','0','0','15','10']" 
                            data-voffset="['130','80','80','50','30']" 
                            data-fontsize="['16','16','16','16','14']"
                            data-lineheight="['28','28','28','28','28']"
                            data-width="['500','500','500','500','100%']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"> StreetHack becomes the companion in Your Hackathon Journey sharing all the hardships with you and commited to make Your U-Hack successful.
                        </div>
                            
                            <div class="tp-caption video_text" 
                            data-x="['left','left','left','left','left']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['-40','-40','-40','-20','-15']" 
                            data-voffset="['250','200','200','150','150']" 
                            data-fontsize="['16','16','16','16']"
                            data-lineheight="['28','28','28','28']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><img src="/assets/img/icon/play-video.png" alt=""> Think. Create. Deploy.</div>
                            
                            <div class="tp-caption right_img" 
                            data-x="['right','right','right','right']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['-350','0','0','0']" 
                            data-voffset="['100','40','40','0']" 
                            data-fontsize="['16','16','16','16']"
                            data-lineheight="['28','28','28','28']"
                            data-width="['none','400']"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"><img src="/assets/img/home-slider/slider-right-img.png" alt=""></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->
        
        <!--================Powerful Area =================-->
        <section class="powerfull_area" id="about">
            <div class="row pawerfull_area_inner">
                <div class="col-md-5">
                    <div class="power_left_img" style="margin-top: 20px !important; margin-left: 20px !important;">
                        <img src="/assets/img/home-slider/uhack3.png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="power_right_content">
                        <div class="power_right_content_inner">
                            <h3 class="single_title">The story of U-Hack</h3>
                            <p> U-Hack [University Hackathon] was started in 2016, as <a href="https://www.facebook.com/events/375795702811157/" target="_blank" >U-Hack 1.0</a> in InfoXpression, USICT, GGSIPU, with problem statements from <a href="https://codestreet.io" target="_blank">CodeStreet</a> and <a href="https://mithila.io" target="_blank">NewsHq</a>. 
                            <a href="https://uhack.hackerearth.com" target="_blank"> Uhack 2.0, 2017</a> became Indian preliminary of Ultrahack, where the StreetHack team started creating the community of Ultrahack India via Hackathons. <a href="https://uhack3.hackerearth.com/" target="_blank">U-Hack 3.0</a> again was a massive success. 
                            <br>
                            This concept was then fully formalized by StreetHack Team, and StreetHack as community is here with you, for you to drive the vision of a community which is self-sustainable, long living, productive, active, and act as launchpad for technologists and beginners. 
                            And we are open sourcing our methodology, platform and ideas to the community & members who share our vision, Because we Belive,<br> 
                            <b>"Together We Can Do Things Better".</b>
                        </p>
                            <ul>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt="">Platform Ready</a></li>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt="">Problem Statements</a></li>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt="">Sponsor Connects </a></li>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt="">Pan India Reach </a></li>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt=""> Resources </a></li>
                                <li><a href="#"><img src="/assets/img/icon/check-icon.png" alt="">Ecosystem After Hackathon </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Powerful Area =================-->
        
        <!--================Provide Feature Area =================-->
        <section class="provide_feature_area" id="feature">
            <div class="p_feature_left">
                <div class="p_f_left_content">
                    <h3 class="single_title">We provide features that you need !</h3>
                    <h4>From Lorem Ipsum Dashboards to Your Own U-Hack Platform</h4>
                    <br><br>
                    <div class="p_left_item_inner">
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-1.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Your Own Platform</h4>
                                    <p>From Registrations, Teams, Ideation, submission and Judging, We have got you covered.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-2.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Community Outreach</h4>
                                    <p>Reach with our Brand to the Community of students, professionals, startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-3.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Next Level Support</h4>
                                    <p>Our Enterprise Platform is open for UHack Community with client side and admin panel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-4.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Data Analytics</h4>
                                    <p>Recieve Data from Your UHack and celebrate the success of UHack as measured by Community.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-5.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Plan with Us</h4>
                                    <p>Our Documentation and pipelines help you to plan everything you need for a U-Hack.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p_item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/img/icon/p-icon-6.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Keep Community Intact</h4>
                                    <p>Our most tangible value is the Ecosystem, we help you create after hackathon, which remain intact and can do wonders.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p_feature_right">
                <div class="p_feature_img">
                    <img src="/assets/img/provide-ds-img.png" alt="">
                </div>
            </div>
        </section>
        <br><br>
        <!--================End Provide Feature Area =================-->
        
        <!--================Dashboard Screenshot Area =================-->
        <section class="dash_screen_area" id="uhacks">
            <div class="container">
                <h3 class="single_title">Glimpse of U-Hack <br class="t_br" /> Working</h3>
            </div>
            <div class="dash_screen_slider owl-carousel">
                <div class="item">
                    <a href="https://www.facebook.com/events/375795702811157/" target="_blank"><img src="/assets/img/laptop-slider/uhack1.jpg" alt="U-Hack 1" style="height: 400px;"></a>
                </div>
                <div class="item">
                    <a href="https://uhack.hackerearth.com" target="_blank"><img src="/assets/img/laptop-slider/uhack2.jpg" alt="U-Hack 2" style="height: 400px;"></a>
                </div>
                <div class="item">
                    <a href="https://uhack3.hackerearth.com" target="_blank"><img src="/assets/img/laptop-slider/uhack3.jpg" alt="U-Hack 3" style="height: 400px;"></a>
                </div>
                <div class="item">
                    <a href="https://streethack.org/blockhack" target="_blank"><img src="/assets/img/laptop-slider/uhack-kgp-blockhack.jpg" alt="U-Hack KGP" style="height: 400px;"></a>
                </div>
            </div>
        </section>
        <!--================End Dashboard Screenshot Area =================-->
        
        <!--================Customers Count Area =================-->
        <section class="customer_count_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="customer_count_item">
                            <img src="/assets/img/icon/customer-c-1.png" alt="">
                            <h5>Total U-Hacks</h5>
                            <h4 class="counter">4</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="customer_count_item">
                            <img src="/assets/img/icon/customer-c-2.png" alt="">
                            <h5>Registrations</h5>
                            <h4 class="counter">2463</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="customer_count_item">
                            <img src="/assets/img/icon/customer-c-3.png" alt="">
                            <h5>Total Projects</h5>
                            <h4 class="counter">72</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="customer_count_item">
                            <img src="/assets/img/icon/customer-c-4.png" alt="">
                            <h5>Community Members</h5>
                            <h4 class="counter">220</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Customers Count Area =================-->
        
        <!--================Exclusive Team Memebers Area =================-->
        <section class="exclusive_team_area" id="team">
            <div class="container">
                <div class="exclusive_title">
                    <h2>List Your U-Hack here</h2>
                </div>
                <div class="row exclusive_team_inner">
                    <div class="col-md-3 col-xs-6">
                        <div class="exclusive_team_item">
                            <img src="/assets/img/laptop-slider/uhack4.jpg" alt="">
                            <div class="hover_team_details">
                                <a href="#"><h4>U-Hack 4.0</h4></a>
                                <h5>October, GGSIPU, New Delhi</h5>
                                <p>This is our annual anniversary event, marking another year of U-Hack. U Hack X.0 marks the "X"th year of U-Hack.
                                Hackathon Dates will be announced Soon.</p>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--================End Exclusive Team Memebers Area =================-->
        
        
        
       
       
        
        <!--================Asked Question Area =================-->
        <section class="asked_ques_area" id="faqs">
            <div class="container">
                <h2 class="single_title_center">Frequently asked some questions</h2>
                <div class="row asked_ques_inner">
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>1. I want to Organize Hackathon at my college, How can StreetHack help?</h4>
                            <p>As already mentioned in features, we become your companion.
                            You can put your u-hack live on our platform. You can reach the community from our platform, everything which takes to organize one successful hackathon, streethack is there with you.
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>Do You sponsor in kind or cash ?</h4>
                            <p>We do not come as a sponsor, instead as a Co-organizer. The Hackathon is Branded as "U-Hack ABC at XYZ college". Where ABC is your Techfest or Hackathon name, and XYZ is your College Name.
                            </p>
                            <p>
                            Although we don't prefer to say, ourselves a sponsor, but we generally support hackathon with our platform, community, free listing, enterprise level analysis, sponsor connects, resource analysis, problem statements, strategic partnerships.

                            Swags and Tee are always up for winners & organizing team.
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>3. As streetHack comes as co-organizer, who has decision powers then ?</h4>
                            <p>All the decision power lies with you. and We believe you, that your decisions won't fall under StreetHack's conflict of Interest.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>4. What is the subtle features of U-Hack?</h4>
                            <p>1. Pre - Hack Engagement</p>
                            <p>2. Post - Hack Engagement</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>5. How many days it take to organize U-Hack?</h4>
                            <p>We advise to start planning 90 days prior to the event. Although, E-cell, IIT-KGP have pulled BlockHack [U-Hack GES at IIT-KGP] in just a span of 4 days with the efforts of StreetHack.
                            So, just let us know, and We will find a way out together.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>What is U-Hack 1.0 / 2.0 .. U-Hack X.0 ?</h4>
                            <p>This is our annual anniversary event, marking another year of U-Hack. U Hack X.0 marks the "X"th year of U-Hack.
                            We start this Hackathon at our founding place, USICT, GGSIPU, and this year, we have lots of surprises in bags for the community.

                            As a matter of fact, U-Hack 1.0 was organized in 2016 & U-Hack 2.0 in 2017, U-Hack 3.0 in 2018 and We are anxiously waiting for dates of U-Hack 4.0 in 2019.
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked_item">
                            <h4>What are U-Hack previous associates doing ? What will organizers learn or How do organizers grow at Personal level, while co-organizing Hackathon with StreetHack ?</h4>
                            <p>We believe, "A leader is someone who creates 10 new leaders."
                                10 is just a number here, Idea is to propogate the thoughts and sense of ownership, and sense of pursuit toward the vision.

                                Volunteers of our previous organising teams, have went on to starting their own ventures, are in board of products of open-source organizations, winning International hackathons among "n" number of things. 
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Asked Question Area =================-->
        
     
        <!--================Subscrib Area =================-->
         <section class="subcribe_area_two" id="contact">
            <div class="container">
            <center><h2>Connect with us</h2></center>
             <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=wLYam1&utm_source=typeform.com-13240770-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
            </div>
        </section>
        <!--================End Subscrib Area =================-->
        
        
       
        
        <!--================Footer Area =================-->
     
        <footer class="gd_footer_area">
            <div class="gd_footer_widgets">
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-md-4 col-xs-6">
                            <aside class="gd_f_widget gd_ab_widget">
                                <h1><a href="/">StreetHack</a></h1>
                                <p>StreetHack is a community enabler for Enterprises and Institutions.
                                We believe self-sustainble communities are long living.</p>
                            </aside>
                        </div>

                    <div class="col-md-3 col-xs-6">
                           <aside class="gd_f_widget gd_link_widget">
                                <ul>
                                    <li><a href="/hackathon">Signature Hackathons</a></li>
                                    <li><a href="/uhack">University Hackathons</a></li>
                                    <li><a href="/university">Hiring Hackathons</a></li>
                                    <li><a href="https://www.facebook.com/groups/1633702170070588/">StreetHack Community</a></li>
                                    <li><a href="https://www.facebook.com/groups/1633702170070588/">StreetHack Women Community</a></li>
                                    <li><a href="https://stackq.in/">StackQ - Education Initiative</a></li>
                                </ul>
                            </aside>
                        </div>
                    
                    <div class="col-md-2 col-xs-6">
                            <aside class="gd_f_widget gd_link_widget">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/enterprise">Enterprise</a></li>
                                    <li><a href="/university">University</a></li>
                                    <li><a href="https://angel.co/streethack/jobs">Jobs</a></li>

                                </ul>
                            </aside>
                        </div>

                    <div class="col-md-3 col-xs-6">
                            <aside class="gd_f_widget gd_contact_widget">
                                <ul>
                                    <li><a href="htttps://facebook.com/streethackhq"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="https://linkedin.com/company/streethack"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="https://twitter.com/streethackhq"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCUXx-3FBzsOXfR4Etv0sV6g/"><i class="fa fa-youtube-square"></i></a></li>
                                    <li><a href="mailto:info@streethack.org"><i class="fa fa-envelope-square"></i></a></li>
                                    <li><a href="tel:84480 22033"><i class="fa fa-phone-square"></i></a></li>
                                    <li><a href="https://www.facebook.com/groups/1633702170070588/"><i class="fa fa-facebook-square"></i></a></li>
                                </ul>
                            </aside>
                    <p>
                    You can find us working at: 
                    <br>
                    C - 2, Sector 1, Noida, Uttar Pradesh - 201301, India 
                    <br>
                    NSRCEL, IIM-B, Billekhalli, Bangalore - 560076, India
                    </p>
                    
                    </div>
                    

                </div>
                <br><br>
                <p class="copyright" style="color:white;text-align: center;">
                                    
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | StreetHack is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://streethack.org" target="_blank" style="color:red">Ignited_Minds</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>

            </div>
        </div>
        </footer>


        <!--================End Footer Area =================-->
        
        
        
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/assets/js/jquery-2.2.4.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/assets/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/assets/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/assets/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <!-- Extra Plugin -->
        <script src="/assets/vendors/parallax/jquery.parallax-scroll.js"></script>
        <script src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/assets/vendors/counterup/waypoints.min.js"></script>
        <script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
        <script src="/assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/assets/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="/assets/vendors/flexslider/flex-slider.js"></script>
        <script src="/assets/vendors/flexslider/mixitup.js"></script>
        <script src="/assets/vendors/swiper/js/swiper.min.js"></script>
        <script src="/assets/vendors/flipster-slider/jquery.flipster.min.js"></script>
        <script src="/assets/vendors/nice-selector/jquery.nice-select.min.js"></script>
        
        <script src="/assets/js/theme.js"></script>
    </body>
</html>