<!--================Banner new Area =================-->
<section class="banner_new_area " id="home2">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="b_new_text">
                    <h3>Build your <br /> College<span> Lively</span> Place </h3>
                    <h5>We Are Community builders</h5>
                    <a class="border_btn" href="#"></i>Nurturing institutions with engagement & student centric approach
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="b_new_image">
                    <img src="/assets/img/banner/banner-n-mobile1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

</section>
<section class="satisfaction_area" id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 chose_content">
                <div class="left_title">
                    <h2> Bring Life To College || Community Development </h2>
                </div>
                <p>We celebrate the sense of belonging with educational institutions and believe that it's good to grow
                    together. Join us to feel the power of community.</p>
                <p>Do you feel the same ?</p>
                <!-- <a href="#" class="btn theme_btn">Learn More</a>-->
            </div>
            <div class="col-md-6 text-center">
                <img src="/assets/img/screenshot/mochup2.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--Start chose us area-->

<!--================Satisfaction Area =================-->
<section class="satisfaction_area">
    <div class="container">
        <div class="main_title">
            <h2>University Space</h2>
            <p>Our end-to-end tech & human-centric approach, helps institution reduce the operation and administration
                overhead and engage the students pro-actively.
                Also, let stakeholders understand the students backed by data, experts and research.</p>
        </div>
        <div class="row satisfaction_item_inner">
            <div class="col-md-6 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>TechSpace</h4></a>
                    <p>Because, We think as a technologists students should have some safe space, where they can try out
                        new things, and figure out the effect on society. and tinker with existing innovations,
                        technology and learn fastly.</p>
                    <br> <br>
                    <p>
                        <ul>
                            <li>Online platform for students, & Administration</li>
                            <li>Community Evangelist</li>
                            <li>Passion meets Profession</li>
                            <li>Tech & Non-Tech clubs</li>
                            <li>Pan India communication</li>
                            <li>Mentorship & Guidance</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="satisfaction_item">
                    <div class="icon-round">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </div>
                    <!--<a href="#">-->
                    <h4>UHack</h4></a>
                    <p>Because, Why Not ? <br>
                        Who doesn't like learning and winning, among peers with healthy competition.</p>
                    <br> <br> <br>
                    <p>
                        <ul>
                            <li>Foster Innovations </li>
                            <li>Industry Connect</li>
                            <li>Platform to Explore</li>
                            <li>Experiential Learning</li>
                            <li>Peer to Peer Learning</li>

                            <li>Collaborative Development</li>
                        </ul>
                    </p>
                </div>
            </div>


        </div>
        <hr>
    </div>
</section>


<!--================App Feature Area =================-->
<section class="app_feature_area_two bg-color" id="feature">
    <div class="container">
        <div class="main_title">
            <h2>Solutions</h2>
            <p>We are Institution partners in</p>
        </div>
        <div class="row app_feature_inner">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="app_feature_item">
                            <div class="icon-round">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                            </div>
                            <h4>Engagement Program</h4>
                            <p>We help you build positive engagement among students through various activities to keep
                                them engaged, building a collaborative development culture effecting the metrics
                                positively. </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="app_feature_item">
                            <div class="icon-round">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </div>
                            <h4>Upskill Students</h4>
                            <p>With our Club based approach, help your students exploring their "why" to dive deep into
                                technology, or management or find their passion and provide them a platform to grow.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="app_feature_item">
                            <div class="icon-round">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </div>
                            <h4>Impart soft skills</h4>
                            <p>With our Interview preparation course, Mock Interviews, Blogs, meet-ups, we make students
                                ready for the off-campus and on-campus competitions, be it placements, start-up
                                competitions, or research. </p>
                            <!-- Use the hackathon sprint to 2x the  in work .A awesome way to get started with new project aswell to give a much needed push to ongoining project.-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="app_feature_item">
                            <div class="icon-round">
                                <i class="fa fa-diamond"></i>
                            </div>
                            <!--<a href="#"><h4>Talent Acquistion</h4></a>-->
                            <h4>11 minute Call</h4>
                            <p>Your students can call us on special number for your university. This call will be for 11
                                minute, and can be on anything ranging from personal to professional matter. Our mentors
                                will be there to guide them.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <!--<img class="img imag-one" src="img/home-slider/pad-shape.png" alt="">-->
                <img class="img imag-one" src="/assets/img/chart.png" alt="">
            </div>
        </div>

    </div>
</section>
<!--================End App Feature Area =================-->


<!--================End Download Area =================-->

<section class="subcribe_area_two" id="contact">
    <div class="container text-center">
        <h2>Connect with us</h2>
        <div class="typeform-widget" data-url="https://mukulrathi1.typeform.com/to/wLYam1"
            style="width: 100%; height: 500px;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
                href="https://admin.typeform.com/signup?utm_campaign=wLYam1&utm_source=typeform.com-13240770-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
                style="color: #999" target="_blank">Typeform</a> </div>
    </div>
</section>
