.form-control:focus {
  box-shadow: unset !important;
  outline: unset;
}

.input-group-text {
  background-color: white !important;
}

.dropdown-menu {
  margin: 0.5rem 0 0 0 !important;
  border: unset !important;
  border-radius: 0 !important;
  background-color: #343a40 !important;
  padding: 0 0 0.75rem 0 !important;
}
.dropdown-toggle:after {
  content: none;
}
@media (min-width: 992px) {
  .dropdown-item,
  .nav-link {
    // color: rgba(255, 255, 255, 0.5) !important;
    padding-left: 1em !important;
  }
}
.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.75) !important;
  background-color: #343a40 !important;
}

.user-dropdown-menu {
  margin: 0.5rem 0 0 0;
  border: unset !important;
  border-radius: 0 !important;
  background-color: #343a40 !important;
  padding: 0 0 0.75rem 0 !important;
  position: absolute;
  .user-dropdown-item:hover {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: #343a40 !important;
  }
}
@media (min-width: 992px) {
  .user-dropdown-item,
  .user-nav-link {
    // color: rgba(255, 255, 255, 0.5) !important;
    padding-left: 1em !important;
  }
  .user-dropdown-menu {
    margin-left: 7px !important;
    position: absolute;
    overflow: hidden !important;
  }
}

.fixed {
  position: fixed;
  z-index: 100;
}
